.status{padding:20px 0px 20px 0px;height:40px;}

.status.bad{
color:red;
}

.status.good{
color:green;
}


.basicButton{
  	font-weight:bold;
	border-top:1pt solid gray;
	border-left:1pt solid gray;
	border-right:1pt solid black;
	border-bottom:1pt solid black;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	width:120px;
	height:30px;
	margin-right:10px;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
	-webkit-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	   -moz-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	        box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
}

.basicReady{
	cursor:pointer;
	background:#D2E6D2;
	color:black;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.basicHover{
	background:none;
	color:red;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.basicActive{ /*clicked*/
	background:#ddd;
	color:red;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.basicUnavailable{
	cursor:default;
	background:#aaa;
	color:#ddd;
  -moz-border-radius: 0px; /* Firefox */
  -webkit-border-radius: 0px; /* Safari, Chrome */
  border-radius: 0px; /* CSS3 */
}



.basicUnavailableHidden{
	display:none;
	background:#aaa;
	color:#ddd;
  -moz-border-radius: 0px; /* Firefox */
  -webkit-border-radius: 0px; /* Safari, Chrome */
  border-radius: 0px; /* CSS3 */
}
