<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'simple_store.main.displayCompletion.ejs' });
//
qtools.validateProperties({
	targetObject:formData,
	propList:[
		{name:'displayParameters'},
		{name:'confirmationPageTemplate'},
		{name:'purchaseData'},
		{name:'serverData'}
	],
 source:'simple_store.main.displayCompletion.ejs' });

var mainTemplateSet=this.formData.confirmationPageTemplate,
	outString=mainTemplateSet.body;

var tokenValue=this.formData.purchaseData.processResult.data.token;
var usingProdServer=this.formData.purchaseData.processResult.data.paymentResult.usingProdServer;
var purchaseData=this.formData.purchaseData;
var cardData=this.formData.purchaseData.cardData;
var productDisplayList=this.formData.purchaseData.shoppingCart;

// 	var prodString='';
// 	var list=productDisplayList;
// 	for (var i=0, len=list.length; i<len; i++){
// 		var element=list[i];
// 		var total=element.price*element.quantity;
// 		prodString+="<tr><td style='text-align:right;'>"+element.quantity+'</td><td>'+element.name+'@$'+element.price+"</td><td style='text-align:right;'>"+element.extendedPrice.toFixed(2)+'</td></tr>';
//
// 	}


if (usingProdServer){
	this.formData.prodServerMessage='';
}
else{
	this.formData.prodServerMessage="<div style='font-weight:10pt;color:red;margin-bottom:10px;'>Not a real transaction. Using Test Processing Server</div>";
}

for (var subFormName in mainTemplateSet.subForms){

	var datum=qtools.getDottedPath(this.formData, mainTemplateSet.subForms[subFormName].pathToData)
		subFormItemString='';

	for (var i in datum){

		var recordString=mainTemplateSet.subForms[subFormName].template;

		for (var fieldName in datum[i]){
			var regEx=new RegExp("\<\%\=+"+fieldName+"\%\>");
			recordString=recordString.replace(regEx, datum[i][fieldName]);
		}

		subFormItemString+=recordString;
	}

	outString=outString.replace(new RegExp("\<\%\=+"+subFormName+"\%\>"), subFormItemString);
}

outString=qtools.templateReplaceObject(outString, this.formData);

if (purchaseData.tax){
	var taxString='$'+purchaseData.tax.toFixed(2);
}
else{
	var taxString='-';
}
%>
<%==outString%>