<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'simple_store.product_selector.init.ejs' });
//
qtools.validateProperties({
	targetObject:formData,
	propList:[
		{name:'productInfo'}
	],
 source:'simple_store.product_selector.init.ejs' });
//
qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'priceDisplayContainer'}
	],
 source:'simple_store.product_selector.init.ejs' });


	var list=this.formData.productInfo,
		prodString='';

	for (var i in list){
			var element=list[i];
			
		if (typeof(element.discountSchedule)!='undefined'){
			var	priceData=element.discountSchedule,
				priceTable="<div>";

			var arrayHolder=[];
			for (var j in priceData){arrayHolder.push(priceData[j]);} //make sure it's array, sequential

			for (j=0, len2=arrayHolder.length; j<len2; j++){
				if (typeof(priceData[j+1])!='undefined'){
					priceTable+="<b>"+priceData[j].minCount+"-"+priceData[j+1].minCount+"</b> cost <b><span style=&apos;color:gray;padding-right:1px;&apos;>$</span>"+priceData[j].price+"</b> each<br/>";
				}
				else{
					priceTable+="More than <b>"+priceData[j].minCount+"</b> cost <b><span style=&apos;color:gray;padding-right:1px;&apos;>$</span>"+priceData[j].price+"</b> each";

				}
			}
			priceTable+="</div>";
			if (typeof(element.description)!='undefined'){
				var tooltip="title='<div style=margin-bottom:10px;>"+element.description+"</div>"+priceTable+"'";
			}
			else{
				var tooltip='';
			}
			prodString+="<div><input type='text' name='product["+element.prodCode+"]' class='numberEntry' prompt='0'><span "+tooltip+" >"+element.name+" (<span class='priceHover "+displayParameters.priceHoverIdClass.divId+"'>pricing</span>)</span></div>";


		}
		else if (typeof(element.price)!='undefined'){
		
			if (typeof(element.description)!='undefined'){
				var tooltip="title='<div style=margin-bottom:10px;>"+element.description+"</div>'";
			}
			else{
				var tooltip='';
			}
			
			
			var showPrice=(1.0*element.price).toFixed(2); //comes in via serverData. json parses price into string
		
			prodString+="<div><input type='text' name='product["+element.prodCode+"]' class='numberEntry' prompt='0' value="+element.quantity+"><span  "+tooltip+">"+element.name+" ($"+showPrice+" each)</span></div>";

		}
	}

%>
<div class='prodListTitle'>
Enter Order Quantity Below
<div style='font-size:60%;font-weight:bold;color:#444;margin-top:5px;'> (Set QUANTITY to ZERO to REMOVE from order.)</div>
</div>
<div class='prodSelectionContainer'>
<%==prodString%>
</div>
<div class='priceDisplayContainer' id='<%=this.displayParameters.priceDisplayContainer.divId%>'>
</div>