<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'simple_store.product_selector.init.ejs' });
//
qtools.validateProperties({
	targetObject:formData,
	propList:[
		{name:'productInfo'}
	],
 source:'simple_store.product_selector.init.ejs' });
//
qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'priceDisplayContainer'}
	],
 source:'simple_store.product_selector.init.ejs' });


	var list=this.formData.productInfo,
		prodString='';


	for (var i in list){
			var element=list[i];
		if (typeof(element.discountSchedule)!='undefined'){
			var	priceData=element.discountSchedule,
				priceTable="<div>";

			var arrayHolder=[];
			for (var j in priceData){arrayHolder.push(priceData[j]);} //make sure it's array, sequential

			for (j=0, len2=arrayHolder.length; j<len2; j++){
				if (typeof(priceData[j+1])!='undefined'){
					priceTable+="<b>"+priceData[j].minCount+"-"+priceData[j+1].minCount+"</b> cost <b><span style=&apos;color:gray;padding-right:1px;&apos;>$</span>"+priceData[j].price+"</b> each<br/>";
				}
				else{
					priceTable+="More than <b>"+priceData[j].minCount+"</b> cost <b><span style=&apos;color:gray;padding-right:1px;&apos;>$</span>"+priceData[j].price+"</b> each";

				}
			}
			priceTable+="</div>";
			var tooltip="<div style=margin-bottom:10px;>"+element.description+"</div>"+priceTable;
			prodString+="<div><input type='text' name='product["+element.prodCode+"]' class='numberEntry' prompt='0'><span  title='"+tooltip+"'>"+element.name+" (<span class='priceHover "+displayParameters.priceHoverIdClass.divId+"'>pricing</span>)</span></div>";


		}
		else if (typeof(element.price)!='undefined'){
			prodString+="<div><input type='text' name='product["+element.prodCode+"]' class='numberEntry' prompt='0' value="+element.quantity+"><span  title='<div style=margin-bottom:10px;>"+element.description+"</div>'>"+element.name+" ($"+element.price+" each)</span></div>";
		}
	}

%>
<div class='prodListTitle'>
Enter Order Quantity Below
<div style='font-size:50%;font-weight:normal;color:gray;'> (Only one survey type per purchase.)</div>
</div>
<div class='prodSelectionContainer'>
<%==prodString%>
</div>
<div class='priceDisplayContainer' id='<%=this.displayParameters.priceDisplayContainer.divId%>'>
</div>