<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'simple_store.product_selector.init.ejs' });
//
qtools.validateProperties({
	targetObject:formData,
	propList:[
		{name:'productInfo'}
	],
 source:'simple_store.product_selector.init.ejs' });
//
qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'priceDisplayContainer'}
	],
 source:'simple_store.product_selector.init.ejs' });


	var list=this.formData.productInfo,
		prodString='';
	for (var i in list){
			var element=list[i];
		if (typeof(element.discountSchedule)!='undefined'){
			var	priceData=element.discountSchedule,
				priceTable="<table>";

			for (var j in priceData){

				priceTable+="<tr><td>More than: "+priceData[j].minCount+" </td><td style=padding-right:5px;> costs $"+priceData[j].price+" each</td></tr>";
			}
			priceTable+="</table>";
			var tooltip="<div style=margin-bottom:10px;>"+element.description+"</div>"+priceTable;
			prodString+="<div><input type='text' name='product["+element.prodCode+"]' class='numberEntry' prompt='0'><span  title='"+tooltip+"'>"+element.name+" (<span class='priceHover "+displayParameters.priceHoverIdClass.divId+"'>pricing</span>)</div>";
		}
		else if (typeof(element.price)!='undefined'){
			prodString+="<div><input type='text' name='product["+element.prodCode+"]' class='numberEntry' prompt='0'><span  title='<div style=margin-bottom:10px;>"+element.description+"</div>'>"+element.name+" ($"+element.price+" each)</span></div>";
		}
	}

%>
<div class='prodListTitle'>
How Many Do You Want?
</div>
<div class='prodSelectionContainer'>
<%==prodString%>
</div>
<div class='priceDisplayContainer' id='<%=this.displayParameters.priceDisplayContainer.divId%>'>
</div>