<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'simple_store.product_selector.priceDisplay.ejs' });
//
qtools.validateProperties({
	targetObject:formData,
	propList:[
		{name:'purchaseData'}
	],
 source:'simple_store.product_selector.priceDisplay.ejs' });
//
qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'priceDisplayContainer'}
	],
 source:'simple_store.product_selector.priceDisplay.ejs' });

var purchaseData=this.formData.purchaseData;
var totalPrice=this.formData.totalPrice?this.formData.totalPrice:0;
totalPrice=totalPrice.toFixed(2);

if (typeof(purchaseData.subtotal)!='undefined'){
	var totalPrice=purchaseData.subtotal.toFixed(2);
	var subtotalString="<tr><td>Subtotal:</td><td style='text-align:right;'>$"+totalPrice+"</td></tr>";
}
else{
	var subtotalString='';
}

if (typeof(purchaseData.tax)!='undefined'){
	var taxAmount=purchaseData.tax.toFixed(2);
	var taxString="<tr><td>Tax:</td><td style='text-align:right;'>$"+taxAmount+"</td></tr>";
}
else{
	var taxString='';
}

if (typeof(purchaseData.grandTotal)!='undefined'){
	var grandTotal=purchaseData.grandTotal.toFixed(2);
	var grandTotalString="<tr class='grandTotal'><td>Total:</td><td style='text-align:right;'>$"+grandTotal+"</td></tr>";
}
else{
	var grandTotalString='';
}

var outString="<table class='priceListing' style='margin-left:-20px;'>";
outString+=subtotalString+taxString+grandTotalString;
outString+="</table>";

%>
<div class='priceDisplayContainerTitle'>
Price:
</div>

	<%==outString%>