<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'}
	],
 source:'signup.workscript.ejs' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'submitButton'},
		{name:'emailAdrInput'},
		{name:'status'}
	],
 source:'signup.workscript.ejs' });

%>
<div id='<%=this.displayParameters.status.divId%>' class='status'> Try it out now! Get started by entering your email address.</div>
<div>
	<input  id='<%=this.displayParameters.emailAdrInput.divId%>' type='text' name='emailAdr' style='float:left;height:30px;width:250px;font-size:18pt;color:gray;'>
	<div class='basicButton' id='<%=this.displayParameters.submitButton.divId%>' style='float:left;margin-left:10px;'></div>
</div>