<div class='status good'>
Copy and Paste from the area below into your web page.
</div>

<textarea>
<script type='text/javascript'>
serverDomain='work.pinpoint.local';
</script>
<script type='text/javascript' src='http://work.pinpoint.local/js/steal/steal.production.js?pinpoint'></script>
</textarea>