<div class='status good'>
Copy and Paste from the area below into your web page.
</div>

<textarea>
<script type='text/javascript'>
serverDomain='work.demo.pinpointatomic.com';
</script>
<script type='text/javascript' src='http://work.demo.pinpointatomic.com/js/steal/steal.production.js?PinpointAtomic'></script>
</textarea>