<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'messageList'},
		{name:'className'}
	],
 source:'signup.statusMessages.ejs' });
this.outList='';
	var list= this.messageList;
	for (var i=0, len=list.length; i<len; i++){
		var element=list[i];
			this.outList+=element[1]+"<br/>";
	}

 %>
 <div class='status <%=this.className%>'><%==this.outList%></div>