.productListContainer{
width:350px;
min-height:500px;
border:1pt solid gray;
float:left;
margin-bottom:10px;
}

.paymentFormContainer{
width:400px;
min-height:500px;
border:1pt solid gray;
text-align:left;
float:left;
}

.prodListTitle{
font-size:125%;
font-weight:bold;
text-align:left;
margin:10px 0px;
padding:0px 0px 10px 5px;
border-bottom:1pt solid gray;
}

.prodSelectionContainer{
text-align:left;
margin-left:10px;
overflow:scroll;
height:393px;
}

.numberEntry{
width:24px;
margin:3px 10px 5px 0px;
}

.priceDisplayContainer{
height:78px;
padding:10px;
border-top:1pt solid gray;
}

.nonZeroProdLine{
	font-weight:bold;
}

.priceDisplayContainerTitle{
font-size:12pt;
color:black;
font-weight:bold;
text-align:left;
}

.priceListing{
	font-size:10pt;
}

.priceListing td{
	padding-left:45px;
	padding-right:30px;
}

.grandTotal{
	color:green;
	border-top:1pt solid gray;
	font-size:110%;
	font-weight:bold;
}

.grandTotal td{
	padding-top:8px;
}

.cardEntryForm{
	font-size:10pt;
}


.submitButton{
float:right;
  	font-weight:bold;
	border-top:1pt solid gray;
	cursor:pointer;
	border-left:1pt solid gray;
	border-right:1pt solid black;
	border-bottom:1pt solid black;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	width:80px;
	height:30px;
	margin-right:10px;
	margin-top:10px;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
	-webkit-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	   -moz-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	        box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
}

.submitButtonReady{
	background:#D2E6D2;
	color:black;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.submitButtonHover{
	background:none;
	color:red;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.submitButtonActive{ /*clicked*/
	background:#ddd;
	color:red;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.submitButtonUnavailable{
cursor:default;
	background:#aaa;
	color:#ddd;
  -moz-border-radius: 0px; /* Firefox */
  -webkit-border-radius: 0px; /* Safari, Chrome */
  border-radius: 0px; /* CSS3 */
}

.longInput{
width:200px;
}

.idSection{
position:relative;
padding:0px 0px 20px 0px;
}

.idSection table{
width:100%;
}

.idSection td{
padding:3px 20px 3px 10px;
}

.cardSection{
background:#ccc;
position:relative;
padding:20px 0px 20px 0px;
}

.cardSection table{
width:100%;
}

.cardSection td{
padding:3px 20px 3px 10px;
}


.annotationSection{
position:relative;
padding:20px 0px 20px 0px;
}

.annotationSection table{
width:100%;
}

.annotationSection td{
padding:3px 20px 3px 10px;
}

.actionSection{
height:50px;
border-top:1pt solid gray;
position:relative;
}

.purchaseInstruction{
margin:20px 0px 0px 20px;
font-weight:bold;
float:left;
}

.chargePrice{
color:green;
font-size:125%;
padding-left:10px;
}

.badStatus{
color:red;
font-size:10pt;
font-weight:normal;
}

.completionContainer{
height:510px;
width:750px;
position:relative;
}

.completionSummary{
border:1pt solid gray;
margin:30px 0px 20px 0px;
width:550px;
height:170px;
}

.completionSuccessMsg{
    color: green;
    font-size: 14pt;
    margin: 10px 0 10px;
    padding-left: 20px;
    text-align: left;
}

.completionClickInstruction{
font-weight:bold;
font-size:14pt;
margin:40px 0px 0px 0px;
}

.completionButtonHolder{

margin:20px 0px 20px 0px;
}

.completionInstructions{
font-size:10pt;
width:400px;
margin:40px 0px 20px 0px;
}

.completionTokenDisplay{
font-size:14pt;
font-weight:bold;
}
.completionTokenCopy{
padding:5px;
font-weight:normal;
width:350px;
color:#777
}
.completionfinalNote{
font-size:10pt;
margin:20px 0px 20px 0px;
}

.updateButton{
	display:block;
  	font-weight:bold;
	border-top:1pt solid gray;
	cursor:pointer;
	border-left:1pt solid gray;
	border-right:1pt solid black;
	border-bottom:1pt solid black;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	padding-top:8px;
	width:80px;
	height:22px;
	margin-right:10px;
	margin-top:10px;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
	-webkit-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	   -moz-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	        box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
}

.updateButtonReady{
	background:#D2E6D2;
	color:black;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.updateButton:hover{
	background:none;
	color:red;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}


.completionInfo{
margin:0px 0px 0px 30px;
}

.completionIdentityInfo{
float:left;
padding:0px 0px 10px 0px;
margin:0px 0px 10px 0px;
}

.completionIdentityInfo td{
padding:1px 5px 1px 5px;
}

.completionDivider{
border-left:1pt solid gray;
margin-left:5px;
padding-right:5px;
float:left;
height:100px;
width:5px;
}

.completionPurchaseInfo{
float:left;
padding:0px 0px 10px 0px;
margin:0px 0px 10px 0px;
}

.completionPurchaseInfo td{
padding:1px 5px 1px 5px;
}

.priceHover{
}

.priceHover:hover{
color:green;
}

.printButton{
	font-size:7pt;
	display:inline;
  	font-weight:normal;
	border-top:1pt solid gray;
	cursor:pointer;
	border-left:1pt solid gray;
	border-right:1pt solid black;
	border-bottom:1pt solid black;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	width:28px;
	height:14px;
	margin-right:10px;
	margin-top:10px;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, .5);
	   -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, .5);
	        box-shadow:2px 2px 5px rgba(0, 0, 0, .5);
}

.printButtonReady{
	background:#D2E6D2;
	color:black;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}

.printButton:hover{
	background:none;
	color:red;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
}